
<%= form_with(model: client, local: true, class: 'about-contact') do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <p><font color="red">"Ошибки валидации"</font></p>
      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><font color="red"><%= message %></font></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4 ml-auto mr-auto">
    <h2 class="text-center title">Зарегистрироваться</h2>
    <h4 class="text-center description">Заполните все поля.</h4>
    <form>
      <div class="form-group">
         <%= form.text_field :name, id: :client_name, class: 'form-control', placeholder:'Введите Ваше Имя'%>
      </div>
      <div class="form-group">
         <%= form.text_field :last_name, id: :client_last_name, class: 'form-control', placeholder:'Введите Вашу Фамилию'%>
      </div>

      <div class="form-group">
         <%= form.text_field :email, id: :client_email, class: 'form-control', placeholder:'Введите имэйл'%>
      </div>

      <div class="form-group">
         <%= form.text_field :phone, id: :client_phone, class: 'form-control', placeholder:'Введите телефон'%>
      </div>

        <%= form.submit class: 'btn btn-primary'%>
    </form>
  </div>  
<% end %>
